@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}

<!DOCTYPE html>

    <img src="~/img_8905.jpg" />
    <p>Bored in the Winter? I suggest the ultimate Winter sport: Snowboarding. It provides the outdoors and allows you
        to be outdoors and stay connected to nature as well as giving you a high caloric burn that a workout would give
        you. Once you learn the skill, the world is your oyster!
    </p>
    <br />

    <p>Utah holds some of the greatest ski resorts in the country. Not only that, but the snow in Utah is also nationally
        renowned as some of the best due to its light and fluffy nature. The ability to access this great part of Utah lies
        in being able to ride it. Snowboarding gives us this opportunity. It offers a feeling of freedom and power that 
        you cannot get doing much else.
    </p>

    <p>Pop Quiz: We love snowboarding because. . . </p>
    <ul>
        <li>It offers a freedom offered but nothing else</li>
        <li>It boosts creativity with how you ride down the mountain</li>
        <li>Lets the user get outdoors in the winter when you might not be able to as much</li>
        <li>Keeps the user in shape because of the workout it gives you</li>
        <li>All of the above</li>
	<img src="~/img_0342.jpg" />
    </ul>
