<h2>Pricing for Snowboarding Lessons</h2>
<form>
    <label>First Name</label>
    <input />
    <br />
    <label>Last Name</label>
    <input />
    <br />
    <label>Number of hours wanted to learn the hobby</label>
    <input />
    <br />
    <label>How much I charge per hour</label>
    <input type="text" value="$20/hour" readonly>
    <br />

    <input type="button" value="Calculate Total" id="btnsubmit" />
</form>
