<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Randen's Hobby Site'</title>
    <link href="css/Site.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <h1>Snowboarding: The best hobby for the Winter</h1>

    <h3>The company we love to work for</h3>

    <div>
        @RenderBody()
    </div>

    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/Site.js"></script>

</body>
</html>
