<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Randen's Hobby Site</title>
    <link href="css/Site.css" rel="stylesheet" />
	<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")">
</head>
<body>

    <h1>Snowboarding: The best hobby for the Winter</h1>

    <h3>The hobby everyone loves</h3>

    <div style="padding-left: 40px;">
        @RenderBody()
    </div>

    <footer style="background-color: #333; color: white; text-align: center; padding: 15px; position: relative; bottom: 0; width: 100%;">
        <p>&copy; @DateTime.Now.Year Randen's Hobby Site | Built by Randen</p>
    </footer>


    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/Site.js"></script>

</body>
</html>
